<h3 align="center">Echipa <span id="teamName">Team1</span> alege:</h3>
<div class="row">
    <div id="categ1" class="col category category-normal">
        <span class="category-name">Categ1</span>
    </div>
    <div id="categ2" class="col category category-normal">
        <span class="category-name">Categ2</span>
    </div>
    <div id="categ3" class="col category category-disabled">
        <span class="category-name">Categ3</span>
    </div>
</div>
<div class="row">
    <div id="categ4" class="col category category-normal">
        <span class="category-name">MockDummy</span>
    </div>
    <div id="categ5" class="col category category-selected">
        <span class="category-name">Gangsteri Faimosi</span>
    </div>
    <div id="categ6" class="col category category-disabled">
        <span class="category-name">MockDummy</span>
    </div>
</div>
<div class="row">
    <div class="col category category-stub"></div>
    <div id="categ7" class="col category category-normal">
        <span class="category-name">Categ7</span>
    </div>
    <div class="col category category-stub"></div>
</div>
