<div class="question-text-container">
    <h1 align="center"><span id="questionText"></span></h1>
</div>
<div class="row">
    <div id="answer1" class="col answer answer-normal">
        <span class="answer-text">Ans1</span>
    </div>
    <div id="answer2" class="col answer answer-normal">
        <span class="answer-text">Ans2</span>
    </div>
</div>
<div class="row">
    <div id="answer3" class="col answer answer-normal">
        <span class="answer-text">Ans3</span>
    </div>
    <div id="answer4" class="col answer answer-normal">
        <span class="answer-text">Ans4</span>
    </div>
</div>
